* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    font-family: 'Inter', system-ui, sans-serif;
}

/* ----------- Common ------------*/

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

.btn {
    padding: 12px 16px;
    color: #fff;
    background-color: #30B868;
    font-weight: 600;
    border: 1px solid #30B868;
    border-radius: 4px;
}

.btn-outlined {
    padding: 12px 16px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
}

/* ----------- Header -----------*/

#nav-bar{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar ul {
    display: flex;
    gap: 16px;
}

#banner {
    background-image: url("../assets/hero-bg.png"), #636161;
    text-align: center;
    padding: 70px 120px 134px;
}

#banner .early-access {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    color: #469165;
    padding: 8px 12px;
    border-radius: 50px;
}

#banner .live-indicator {
    background-color: #469165;
    width: 16px;
    height: 16px;
    border: 5px solid #ffffff80;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #46916520;
}

#banner .banner-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#banner h1 {
    color: #fff;
    opacity: 0.9;
    font-size: 64px;
    margin-bottom: 16px;
}

#banner p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 32px;
}

/* ------------ main ------------ */

.section {
    text-align: center;
}

.section-note h2 {
    padding: 60px 0 16px;
}

.section-note {
    padding: 0 120px;
}

.section-note .cards {
    display: flex;
    gap: 24px;
    transform: translateY(+44px);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card img {
    width: 60px;
    height: 60px;
    background: red;
    padding: 8px;
    border-radius: 50%;
}

.section-brain {
    display: flex;
    gap: 60px;
    padding: 120px;
    background-color: #fff;
    align-items: center;
}

.section-brain .main-image {
    width: 600px;
    height:600px;
    border-radius: 12px;
}

.section-brain .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
}
.section-brain .content h2 {
    margin: 16px 0;
    text-align: left;
}

.section-brain .content ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-brain .content ul li {
    display: flex;
    gap: 8px;
    align-items: center;
}

.section-early-access {
    padding: 0 120px 120px;
}
.section-early-access .early-access-card {
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.section-early-access .early-access-card .content {
    margin-bottom: 24px;
}

.section-early-access .early-access-card .content h2 {
    margin-bottom: 16px;
}
.section-early-access button {
    display: block;;
    margin: 24px auto 16px;
}

/* ------------ footer ------------- */

footer {
    color: #fff;
    background-color: #001931;
    padding: 120px 120px 30px
}

footer .content {
    display: flex;
    justify-content: space-between;
}
 
footer hr {
    margin-top: 80px;
    background-color:  #FAFAFA;
}

.social-links ul {
    display: flex;
    gap: 8px;
}

.copy {
    text-align: center;
    padding: 16px;
}