* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ----------- Common ------------*/
.btn {
    padding: 8px 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 4px;
}

.btn-outlined {
    padding: 8px 16px;
    color: white;
    background-color: transparent;
    border: 1px solid green;
    border-radius: 4px;
}

/* ----------- Header -----------*/

#nav-bar{
    padding: 16px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar ul {
    display: flex;
    gap: 16px;
}

#banner {
    background-image: url("/assets/hero-bg.png");
    text-align: center;
    padding: 120px 25%;
}

#banner .early-access {
    display: inline-block;
    background-color: white;
    color: green;
    padding: 12px 8px;
    border-radius: 50px;
}

#banner .live-indicator {
    background-color: lightgreen;
    padding: 0 6px;
    border-radius: 50%;
}

#banner h1 {
    color: white;
    font-size: 64px;
    margin-bottom: 16px;
}

#banner p {
    color: white;
    margin-bottom: 16px;
}

/* ------------ main ------------ */

main {
    padding: 16px 10% 24px;
}

.section {
    text-align: center;
}

.section-note .cards {
    display: flex;
    gap: 16px;
}
.card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card img {
    margin-top: 30px;
    background: red;
    padding: 8px;
    border-radius: 50%;
}

.section-brain {
    display: flex;
    gap: 60px;
    padding: 60px 0;
    align-items: center;
}

.section-brain .main-image {
    width: 500px;
    height: 500px;
}

.section-brain .content {
    text-align: left;
}

.section-early-access {
    padding: 60px 25%;
    background-color: lightgoldenrodyellow;
}

.section-early-access button {
    display: block;
    margin: auto;
}

/* ------------ footer ------------- */

footer {
    color: white;
    background-color: rgb(11, 11, 62);
}

footer .content {
    display: flex;
    justify-content: space-between;
    padding: 60px 10%;
}
 
footer hr {
    color: #f01414;
}

.social-links ul {
    display: flex;
    gap: 8px;
}

.copy {
    text-align: center;
    padding: 16px;
}